{% extends "::base.html.twig" %}

{% block title %}Job Search{% endblock %}

{% block content %}
    <h1>One search. All jobs</h1>
    <p>Here  you can add your resume or find a great job!</p>
{% endblock %}
