{% extends "IbovedTestBundle::layout.html.twig" %}

{% block title "Facts - Earth" %}

{% block content %}
    <h1 class="title">Earth</h1>
    Earth, also known as the world, Terra, or Gaia, is the third planet from the Sun, the densest planet in the Solar System, the largest of the Solar System's four terrestrial planets, and the only celestial body known to accommodate life. It is home to about 8.74 million species. There are over 7.2 billion humans.
{% endblock %}

{% set code = code(_self) %}
