{% extends "IbovedTestBundle::layout.html.twig" %}

{% block title "Facts - Mars" %}

{% block content %}
    <h1 class="title">Mars</h1>
    Mars is the fourth planet from the Sun and the second smallest planet in the Solar System, after Mercury. Named after the Roman god of war, it is often described as the "Red Planet" because the iron oxide prevalent on its surface gives it a reddish appearance. Mars is a terrestrial planet with a thin atmosphere.
{% endblock %}

{% set code = code(_self) %}
