{% extends "IbovedTestBundle::layout.html.twig" %}

{% block title "Facts - Mercury" %}

{% block content %}
    <h1 class="title">Mercury</h1>
    Mercury is the smallest and closest to the Sun of the eight planets in the Solar System, with an orbital period of about 88 Earth days. Seen from Earth, it appears to move around its orbit in about 116 days, which is much faster than any other planet. It has no known natural satellites.
{% endblock %}

{% set code = code(_self) %}
