{% extends "IbovedTestBundle::layout.html.twig" %}

{% block title "Facts - Sun" %}

{% block content %}
    <h1 class="title">Sun</h1>
    The Sun is the star at the center of the Solar System. It is almost spherical and consists of hot plasma interwoven with magnetic fields. It has a diameter of about 1,392,684 km (865,374 mi).
{% endblock %}

{% set code = code(_self) %}
