{% extends "IbovedTestBundle::layout.html.twig" %}

{% block title "Facts - Venus" %}

{% block content %}
    <h1 class="title">Venus</h1>
    Venus is the second planet from the Sun, orbiting it every 224.7 Earth days. It has no natural satellite. It is named after the Roman goddess of love and beauty.
{% endblock %}

{% set code = code(_self) %}
